<?xml version='1.0' encoding='UTF-8'?>

<proxy>
  <name>{{ java_proxy_host }}</name>
  <port>{{ java_proxy_port }}</port>
  <noProxyHost>{% for item in java_no_proxy_host.split(',') %}
{{ item }}
{% endfor %}
  </noProxyHost>
  <secretPassword></secretPassword>
  <testUrl>http://www.google.de</testUrl>
</proxy>
