# ---------------------------------------
# MapProxy example seeding configuration.
# ---------------------------------------
#
# This is a minimal MapProxy seeding configuration.
# See full_seed_example.yaml and the documentation for more options.
#

seeds:
  myseed1:
    caches: [osm_cache]
    # grids: []
    coverages: [germany]
    levels:
#      from: 0
       from: {{ mapproxy_seed.min_tile_level }}
#      to: 11
       to: {{ mapproxy_seed.max_tile_level }}
    refresh_before:
      time: 2013-10-10T12:35:00

cleanups:
  myclean1:
    caches: [osm_cache]
#    remove_before:
#     days: 14
    levels:
      from: 12

coverages:
  germany:
    polygons: /var/www/html/mapproxy/GM.txt
    polygons_srs: EPSG:900913
